.single-btn {
    position: relative;
}

.single-nav {
    width: 100%;
    position: absolute;
    top: 47px;
    left: 0;
    border: 3px solid $red;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 20px;
    ul>li:nth-child(2) {
        margin: 6px 0;
    }
}



.article {
    &__wrap {
        background: #fff;
        padding: 10%;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    p {
        font-size: 16px;
    }
    &__title {
        font-family: 'Abril Display';
        font-size: 20px;
        margin: 5% 0;
    }
}

.bread-list {
    margin-top: 5%;
}