/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  background: #F6ECEA;
  color: #D2564C;
  font-size: 16px;
}

.inner {
  width: 100%;
  padding: 5% 10% 0;
}

.screen-reader-text {
  display: none;
}

.nav-btn {
  width: 160px;
  height: 45px;
  text-align: center;
  border: solid 3px #D2564C;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}

.nav-btn p {
  font-size: 25px;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-close {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-close.open {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu {
  width: 100%;
  height: 100vh;
  max-width: 1366px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10% 10% 0;
  background: #F6ECEA;
  font-family: 'Abril Display';
  z-index: 9;
}

.menu__item {
  font-size: 3rem;
  margin-top: 3rem;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu__item a {
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu__item a::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu__item a:hover {
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 4rem;
}

.menu__item a:hover::before {
  width: 2rem;
}

.menu__title {
  font-size: 1rem;
  color: #968988;
  font-weight: normal;
}

.menu__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100%;
  font-family: 'Abril Display';
}

.hd-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-img {
  max-width: 110px;
}

.user-img img {
  width: 100%;
  border-radius: 50%;
}

.title-area {
  margin-left: 30px;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.name {
  margin-top: 8px;
  color: #968988;
}

.index-posts {
  width: 100%;
}

.index-posts .index-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index-posts.open {
  display: none;
}

.index-posts__item {
  width: 31.5%;
  height: 31.5%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.index-posts__item:nth-child(2), .index-posts__item:nth-child(5) {
  margin: 0 20px;
}

.index-posts__item:nth-child(4), .index-posts__item:nth-child(5), .index-posts__item:nth-child(6) {
  margin-top: 20px;
}

.index-posts__item img {
  width: 100%;
  height: 100%;
}

.index-posts__item:hover .mask {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 1;
}

@media screen and (max-width: 1040px) {
  .index-posts__item {
    width: 30%;
    height: 30%;
  }
}

.index-posts .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
}

.index-posts__title {
  width: 80%;
  background: #fff;
  color: #968988;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.index-posts__title h2 {
  line-height: 30px;
  text-align: center;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}

.pagination .fa-angle {
  font-size: 20px;
}

.pagination .page-numbers {
  margin-right: 10px;
}

.single-btn {
  position: relative;
}

.single-nav {
  width: 100%;
  position: absolute;
  top: 47px;
  left: 0;
  border: 3px solid #D2564C;
  padding: 12px 0;
  border-radius: 5px;
  font-size: 20px;
}

.single-nav ul > li:nth-child(2) {
  margin: 6px 0;
}

.article__wrap {
  background: #fff;
  padding: 10%;
}

.article__img {
  width: 100%;
}

.article__img img {
  width: 100%;
}

.article p {
  font-size: 16px;
}

.article__title {
  font-family: 'Abril Display';
  font-size: 20px;
  margin: 5% 0;
}

.bread-list {
  margin-top: 5%;
}
/*# sourceMappingURL=style.css.map */